
{{!-- the are comming from the partials folder --}}
<!DOCTYPE html>
<html lang="en">
{{> default/header }}

<body>

<!-- Navigation -->
{{> default/top-navigation }}

<!-- Page Content -->
<div class="container">
{{!-- coming from the index in the default folder --}}
    {{{ body }}}
</div>
<!-- /.container -->
{{> default/footer }}

</body>

</html>